<!Doctype HTML>
<head>
    <title> BenderBlogs </title>
    <link rel="stylesheet" type="text/css" href="navbar.css">
    <link rel="stylesheet" type="text/css" href="home.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav id = "site_nav">
        <div id="hamburger_icon_container">
            <img id = "hamburger_icon" src="hamburger_icon.svg"/>
        </div>
        <ul class="display_inactive" id="desktop_nav">
            {% for option in options %}
            <a href="{{option}}" ><div class = "options"><li class = "option">{{option}}</li></div></a>
            {% endfor %}
        </ul>
    </nav>
    <div id="home_img_container">
        <span id = "home_img_centered_text">{{content.main_text}}</span>
    </div>
    <div id = "main_text">
        <p id="content">{{content.more_text}}</p>
    </div>
    <script src="navbar.js"></script>
</body>
