* {
    overflow:auto;
    padding:0;
    margin:0;
    font-family:'Open Sans', sans-serif;
}
body{
    height:100vh;
    background-color:#e9e9e9;
}
ul {
    list-style-type: none;
}
#site_nav {
    position:relative;
    align-items:center;
    background-color:#141d2b;
    min-height:4.2em;
    display:flex;
    flex-direction:row-reverse;
    max-width:100%;
    width:100vw;
}
#desktop_nav {
    z-index:1;
    top:4.2em;
    width:100vw;
    position:fixed;
    flex-direction:column;
}
.display_inactive{
    display:none;
}
.display_active{
    display:flex;
}
.options{
    display:flex;
    align-items: center;
    height:inherit;
    background-color:#f4f4f4;
    padding:0em 1em;
    width:calc(100vw - .5em);
    border:none;
    user-select:none;
}
.options:hover {
    background-color:#f0f0f0;
}

a a:focus a:hover {
    text-decoration:none;
}

.option {
    color:blue;
    font-size:1.4em;
}

#hamburger_icon_container{
    margin-left:1em;
    margin-right:auto;
    display:flex;
    align-items:center;
}

@media (min-aspect-ratio:490/760){
    .options:hover {
        background-color:#192538;
    }
    #desktop_nav {
        display:flex;
        position:relative;
        margin:0vh;
        flex-direction:row;
        top:0;
        height:inherit;
        height:4.2em;
    }
    .options {
        color:white;
        height:100%;
        display:flex;
        flex-direction:row;
        background-color:transparent;
        width:auto;
    }
    .option {
        color:white;
        margin:auto;
        text-align:center;
        width:100%;
        font-size:1.3em;
        background-color:transparent;
    }
    #hamburger_icon{
        display:none;
    }
    #main_text{
        width:45em;
    }
}
a {
    text-decoration:none;
    outline:none;
}
